{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css', 103) %}
        {% do assets.addCss('theme://css-compiled/nucleus.css',102) %}
        {% do assets.addCss('theme://css-compiled/template.css',101) %}
        {% do assets.addCss('theme://css/custom.css',100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css',100) %}
        {% do assets.addCss('theme://css/slidebars.min.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
     {% do assets.addJs('jquery', {'priority':101, 'loading':'async'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=gAALaxvM8r">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=gAALaxvM8r">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=gAALaxvM8r" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-194x194.png?v=gAALaxvM8r" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon-96x96.png?v=gAALaxvM8r" sizes="96x96">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=gAALaxvM8r" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=gAALaxvM8r" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=gAALaxvM8r">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=gAALaxvM8r" color="#fbaf23">
<link rel="shortcut icon" href="/favicon.ico?v=gAALaxvM8r">
<meta name="apple-mobile-web-app-title" content="gChambers">
<meta name="application-name" content="gChambers">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=gAALaxvM8r">
<meta name="theme-color" content="#fbaf23">
</head>
<body id="top" class="{{ page.header.body_classes }}">
    <div id="sb-site">
        {% block header %}
        <header id="header">
            <div id="logo">
                <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
            </div>
            <div id="navbar">
                {% block header_extra %}{% endblock %}
                {% if config.plugins.langswitcher.enabled %}
                {% include 'partials/langswitcher.html.twig' %}
                {% endif %}
                {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>
        {% endblock %}

        {% block showcase %}{% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
        <footer id="footer">
            <div class="totop">
                <span><a href="#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
           {#  <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p> #}
          {#  {% set copyrightYears = ((startYear < currentYear) ? (startYear ~ ' - ' ~ currentYear) : startYear) %} #}

{# SOURCE: http://craftcms.stackexchange.com/questions/6706/display-a-copyright-year-or-range #}
        <div class="copyright-container">
            <div class="copyright-left">
        {% if site.copyright %}
        {# {% set startYear = '{{ site.copyright.startYear }}' %} #}
            {% set currentYear = now|date("Y") %}
        {% endif %}
        {#  {% if startYear == currentYear %}
            {% set copyrightYears = startYear %}
        {% else %}
            {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
        {% endif %} #}
        {% if site.copyright %}
            {{ site.copyright.text1 }} &copy; {{ site.copyright.startYear }} - {{ currentYear }} &nbsp; <a href="{{ site.copyright.url }}">{{ site.copyright.text2}}</a>
        {% endif %}
        {% if site.copyright2 %}
            <br>
            {{ site.copyright2.text1 }} &nbsp; <a href="{{ site.copyright2.url }}">{{ site.copyright2.text2}}</a>
            {% else %}
                <br>gChambers blog was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> using <a href="http://getgrav.org">Grav</a>.
        {% endif %}

            </div>
            <div class="copyright-right">
                 JS version  &copy; <script>document.write(new Date().getFullYear()); </script> &nbsp; gChambers
            </div>
        </div>
        </footer>
        {% endblock %}
    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
        {% include 'partials/navigation.html.twig' %}
        </div>
    </div>
    {% block bottom %}
        {% do assets.addJs('theme://js/modernizr.custom.71422.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/antimatter.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/slidebars.min.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('user://pages/custom-scripts/greg-gsap.js', {'priority':100, 'group':'bottom'}) %}
        {{ assets.js('bottom') }}
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>
    {% endblock %}
</body>
</html>
