<div class="orange-box-wrapper clearfix">
    <div class="orange-box {{ width }} {{ position }}" id="{{ hash ~ key }}">
      <img src="{{ image }}"  class="cover" alt="captioned photo">
        <div class="caption">{{ shortcode.getContent() }}</div>
    </div>
</div>
