<div class="fig-wrap clearfix">
    <figure class="{{ theme }} {{ position }}">
        <img src="{{ image }}" alt="">
    <cite>{{ cite }}</cite>
    <figcaption>{{ caption }}</figcaption>
    </figure>
</div>

